@font-face {
    font-family: "Beagley";
    src: url("data/fonts/Radiogram\ Regular.ttf");
}

@font-face {
    font-family: "Voltaire";
    src: url("data/fonts/Beagley.otf");
}

* {
    margin: 0;
    padding: 0;
    color: #eeeef2;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100vh;
}

/* img#background { */
#background {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;

    height: calc(100% - 60px);
    width: calc(100% - 60px);
    border-radius: 2px;
    box-shadow:
        1px 1px 0px #34856c,
        2px 2px 0px #34856c,
        3px 3px 0px #34856c,
        4px 4px 0px #34856c,
        5px 5px 0px #34856c,
        6px 6px 0px #34856c;

    opacity: 0.5;
    background: white; /*#ffc300;*/
}

#background .inner {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    border-color: #34856c;
    border-width: 5px;
}

#background .inner-overlay {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    background: black;
    position: absolute;
    z-index: 2;
    opacity: 0.95;
}

#header {
    font-family: Beagley;
    left: 20vh;
    top: 20vh;
    position: absolute;
}

#header h1 {
    font-size: 15em;
    text-shadow: 2px 2px 0 #34856c;
    letter-spacing: 0.04em;
    line-height: 0.8em;
    font-weight: normal;
    /* font-style: italic; */
}

/* navbar */
nav {
    font-family: Voltaire;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    display: flex;
}

nav a {
    text-decoration: none;
    padding-right: 18px;
    font-size: 30px;
    display: inline-block;
    text-shadow:
        1.5px 1.5px 0 #0e0e0e,
        -1.5px -1.5px 0 #0e0e0e,
        -1.5px -1.5px 0 #0e0e0e,
        -1.5px 1.5px 0 #0e0e0e,
        1.5px -1.5px 0 #0e0e0e;
    transition: all 400ms ease-in-out;
}

nav a:hover {
    color: #34856c;
    transform: translate(-5px, -5px);
    text-shadow:
        1.5px 1.5px 0 #0e0e0e,
        -1.5px -1.5px 0 #0e0e0e,
        -1.5px -1.5px 0 #0e0e0e,
        -1.5px 1.5px 0 #0e0e0e,
        1.5px -1.5px 0 #0e0e0e,
        5px 5px #4fd1a8;
}

/* contact */
.contacts {
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconDiv {
    width: 24px;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    margin-right: 0.5vw;
}

.iconDiv:hover,
.iconDiv:focus-visible {
    width: 200px;
    transition: width 300ms ease-in-out 0s;
}

.iconSvg {
    height: 24px;
}

.iconInfo {
    padding-left: 20px;
    text-wrap-mode: nowrap;
    font-family: "Courier New", Courier, monospace;
    color: #34856c;
}

#email:hover + #insta {
    visibility: hidden;
}
