@font-face {
    font-family: 'TiredOfCourierThin';
    src: url('data/fonts/TiredOfCourierThin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.carousel {
  display: inline-block;
}

span.carousel_full {
  z-index: 999999;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(30,30,30,1);
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  cursor: default;
}

span.carousel_full img {
  position: fixed;
  background-color: white;
  margin: 0;
  padding: 0;
  max-height: 90%;
  max-width: 90%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -53%);
  box-shadow: 0 0 20px black;
}

a.carousel_close,
.carousel_panel {
  z-index: 999999;
  position: fixed;
  visibility: hidden;
}

a.carousel_close,
a.carousel_prev,
a.carousel_next,
label.carousel_divider {
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-family: TiredOfCourierThin;
}

a.carousel_close {
  font-size: 30px;
}


a.carousel_close {
  top: 2%;
  right: 2%;
}

a.carousel_close::after {
  content: '\00D7';
}

.carousel_panel {
  bottom: 3%;
  left: 40%;
  right: 40%;
  text-align: center;
}

a:target ~ a.carousel_close,
a:target ~ .carousel_panel {
  visibility: visible;
}

a:target > img.carousel_thumb + span.carousel_full {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
}