@font-face {
    font-family: 'Franchise';
    src: url('../data/fonts/chubiy.regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Messages';
    src: url('../data/fonts/messages.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-image: url('../svgs/worm.svg');
    background-position: center;
    background-repeat: repeat;
    background-size: 4%;
    background-color: #eaeaea;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10vh;
}




#header {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    text-align: center;
    margin-top: 3vh;
}

#header a {
    font-family: Messages;
    font-size: 1.5vw;
    text-decoration: none;
    color: inherit;
}

#header #title {
    display: flex;
    background-color: lightblue;
}

#header #nav {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: center;
}

#title h1 {
    margin: auto;
    padding: 0 5vw 0 5vw;
    margin-bottom: -4vh;

    font-family: Franchise;
    font-size: 6vw;
    background-color: #eaeaea;
}






.container {
    padding: 40px 5%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    gap: 8px;
}

.gallery::after {
    content: "";
    flex-grow: 999;
}

.gallery > li {
    height: 42vh;
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
}

.gallery li img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    transition: all 0.5s;
    border-radius: 2px;
}






/* collections page */

.collections {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
}

.collection {
    height: 42vh;
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
}

.collection_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(20, 16, 20, 0.4);

    /* center overlay content */
    display: flex;
    align-items: center;
    justify-content: center;
}

.collection > a > img {
    filter: blur(1.3px);
    height: 100%;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.collection_overlay > span {
    font-family: Messages;
    font-size: 4vw;
    color: white;
    text-align: center;
}