@font-face {
    font-family: 'Compagnon';
    src: url('../data/fonts/TiredOfCourierThin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-position: center;
    background-repeat: repeat;
    background-size: 4%;
}

.container {
    padding: 40px 5%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    gap: 8px;
}

.gallery::after {
    content: "";
    flex-grow: 999;
}

.gallery > li {
    height: 42vh;
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
}

.gallery li img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    transition: all 0.5s;
    border-radius: 2px;
}

#header {
    display: table;
    text-align: center;

    width: 100vw;
    height: 20vh;

    background-color: #eeeef2;
}

#title, #rights {
    display: table-cell;
    vertical-align: middle;

    font-family: Compagnon;
    font-size: 4vw;
}

footer {
    display: table;
    text-align: center;

    width: 100vw;
    height: 10vh;

    background-color: #eeeef2;
}

#rights {
    font-size: 1vw;
}

/* collections page */

.collections {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
}

.collection {
    height: 42vh;
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
}

.collection_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(30, 10, 30, 0.4);
    /* center overlay content */
    display: flex;
    align-items: center;
    justify-content: center;
}

.collection > a > img {
    filter: blur(1px);
    height: 100%;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.collection_overlay > span {
    font-family: Compagnon;
    font-size: 4vw;
    color: red;
}