*::-webkit-scrollbar {
    display: none; /* hide scroll bar for chrome, safri and opera */
}

* {
    -ms-overflow-style: none; /* hide scroll bar for IE and Edge */
    scrollbar-width: none; /* hide scroll bar for Firefox */
}

@font-face {
    font-family: FFGoodPro-News;
    src: url("fonts/FFGoodPro-News.woff2");
}

@font-face {
    font-family: Beagley;
    src: url("fonts/Beagley/Beagley.otf");
}

main {
    position: relative;
    right: 0;
    left: 0;
    width: 100vw;
    top: 0;
}

/* navigation */
nav {
    height: 100vh;
    width: 100vw;
    z-index: 999;
    position: absolute;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    pointer-events: none;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

nav ul {
    list-style-type: none;
    writing-mode: vertical-lr;
    font-family: Beagley;
    color: black;

    height: 90vh;
    width: 7vw;
    align-items: center;

    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

nav ul li {
    cursor: pointer;
    pointer-events: auto;
    padding: 1.5vh;
}

nav ul li:hover {
    background: #34856c;
}

#left {
    font-size: 4.5vw;
    transform: rotate(-180deg);
    background: white;
}

/* next/prev buttons */
#right {
    font-size: 3vw;
    justify-content: space-between;
}

/* project selection list */
#projects {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 93vw;
    height: 100vh;
    left: -100vw;
    transition-duration: 0.1s;
}

#projects.active {
    visibility: visible;
    left: 7vw;
}

#projects ul {
    display: initial;
    overflow: auto;

    width: 100%;
    height: 100%;

    margin-left: auto;
    margin-right: auto;

    background: #090909;
    writing-mode: initial;
}

#projects ul li {
    float: left;
    position: relative;
    width: 20%;
    padding: 0;
}

#projects ul li.active {
    a img {
        filter: grayscale(0);
    }
}

#projects ul li a img {
    width: 100%;
    filter: grayscale(100%);
    display: block;
}

#projects ul li a img:hover {
    filter: grayscale(0);
}

#projects ul li:has(~ li:not(active):hover),
#projects ul li:not(active):hover ~ li {
    a img {
        filter: grayscale(100%);
    }
}

@media only screen and (max-width: 480px) {
    #projects ul li {
        width: 100%;
    }
}
@media only screen and (max-width: 650px) and (min-width: 481px) {
    #projects ul li {
        width: 50%;
    }
}
@media only screen and (max-width: 1050px) and (min-width: 651px) {
    #projects ul li {
        width: 33.3%;
    }
}
@media only screen and (max-width: 1290px) and (min-width: 1051px) {
    #projects ul li {
        width: 25%;
    }
}

.close {
    background: rgba(230, 230, 230, 1);
    width: 5vw;
    display: flex;
    height:100vh;
    justify-content: center;
    pointer-events: auto;
}

.close img {
    width: 50px;
}

/* about */
#about {
    position: absolute;

    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    gap: 5vh;

    pointer-events: auto;

    width: 93vw;
    height: 100vh;

    background: #eeeef2;

    overflow: auto;

    /* opacity: 0; */
    visibility: hidden;

    left: -100vw;
    right: 0;
    transition-duration: 0.1s;
}

#about img {
    max-width: 80vw;
    height: 70vh;
    padding-left: 10vw;
}

#about div {
    display: flex;
    flex-direction: column;
    width: auto;
    padding-right:10vw;
}

#about p {
    font-family: FFGoodPro-News;
    text-align: justify;
    text-justify: inter-word;
    font-size: 3vh;
}

#about.active {
    left: 7vw;
    visibility: visible;
}

/* @media (max-aspect-ratio: 20/29) {
    nav {
        height: 5vh;
        min-width: 100vw;
        margin: 0;
        padding: 0;
        gap: 5vw;

        flex-direction: row;
        justify-content: center;
    }

    nav .nav {
        margin: 0;
        font-size: 5vh;
        writing-mode: inherit;
        transform: inherit;
    }

    nav #projects {
        height: 95vh;
        top: 5vh;
        left: 0vw;
        width: 100vw;
    }

    #about {
        left: 0;
        margin: 0;
        width: 100vw;
        margin-top: 5vh;
        top: -100vh;
    }

    #about.active {
        top: 0;
    }
}

@media (max-aspect-ratio: 13/8) {
    #about {
        flex-direction: column;
        padding-top: 10vh;
        height: 90vh;
    }
} */

/* series */
.cover {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.cover img {
    height: auto;
    width: auto;
    max-width: 90vw;
    max-height: 90vh;
}

.section {
    height: 100vh;
    display: flex;
    align-items: center;

    min-height: 100%;
    background: white;
}

/* photographs */
.images {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 100vw;
}

.text {
    font-family: FFGoodPro-News;
    text-align: justify;
    text-justify: inter-word;
    font-size: 3vh;

    max-height: 75vh;
    min-width: 35vw;
    max-width: 80vw;
    padding: 0 4vw 0 4vw;
}

.image {
    padding: 0 5vw 0 5vw;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-style: solid;
    border-width: 0px 1px 0px 1px;
    margin-right: -1px;
    border-color: #b5c8b7;
}

.image img {
    max-height: 80vh;
    max-width: 90vw;
}

.image figcaption {
    font-family: FFGoodPro-News;
    font-style: italic;
    padding-top: 5px;
    font-size: 1em;
}

/* modal */
.image img[data-modal] {
    cursor: zoom-in;
}

.modal-content {
    z-index: -100; /* behind everything */
    opacity: 0; /* invisible */
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9); /* black, transparent */
    width: 100vw; /* 100% width */
    height: 100vh; /* 100% height */
    display: flex;
    justify-content: center; /* horizontal align */
    align-items: center; /* vertical align */
    transition: 0.5s; /* animate */
    cursor: zoom-out;
}

.modal-content img {
    height: auto;
    min-height: 90vh;
    max-height: 90vh;
}

/* responsiveness */

/* @media (max-aspect-ratio: 9/8) {
    nav {
        width: 5vh;
    }

    nav .nav {
        font-size: 5vh;
    }

    .cover img {
        transform: rotate(90deg);
        max-width: 90vh;
        max-height: 90vw;
    }

    .images .text {
        width: max-content;
    }
} */
