<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="index.css" rel="stylesheet">
    <link href="carousel.css" rel="stylesheet">
    <title>Collections</title>
  </head>
  <body>
    <main>
      <div id="header">
        <div id="nav"><a href="gallery.html" id="navigation">Gallery</a></div>
        <div id="title"><h1>Collections</h1></div>
      </div>

      <div class="container">
        <ul class="collections">
          {{#each collections}}
            <li class="collection">
              <a href="collection/{{path}}.html">
                <img src="{{images.0.thumbnail}}"/>
                <div class="collection_overlay"><span>{{title}}</span></div>
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
    </main>
  </body>
</html>