* {
	scroll-behavior: smooth;
}

#page {
	padding: 3em 20vw 3em 4vw;
	display: flex;
	gap: 40px;
}

#back {
	padding-top: 1em;
	font-size: 0.7em;
	white-space: nowrap;
	text-align: right;
}

/* todo: collapse side bar on small screens */
.sidebar {
	display: flex;
	flex-direction: column;
	gap: 5em;
}

.toc {
	width: 13em;
  	position: sticky;
  	background-color: transparent;
}

.toc ul {
	list-style: none; 
	padding: 0;
}

.toc li {
	border-left: 2px solid var(--text-color);
	padding-left: 10px;
}

.toc li:focus-within {
	border-left: 2px solid tomato;
}

.toc-level-1 {
	margin-left: 0px;
}

.toc-level-2 {
	margin-left: 0px;
}

.toc-level-3 {
	margin-left: 10px;
}

.toc-level-4 {
	margin-left: 20px;
}

.toc-level-5 {
	margin-left: 30px;
}

.toc-level-6 {
	margin-left: 40px;
}

.toc a {
	display: inline-block;
	text-decoration: none;
	color: var(--text-color);
}

main {
	border-style: solid;
	border: 1px;
	border-spacing: 0px;
	border-color: #f2f2f2;
	width: 100vw;
}

h1 {
	margin: 0;
	font-family: AnandaBlack;
}

.header div {
	display: flex;
  	flex-direction: column;
	gap: 0px;
}

.header div div {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.split tr {
	display: flex;
	gap: 20px;
}

.split td {
	flex: 50%;
	border: 0;
}