main {
  	padding: 13px 0 13px 0;
	max-width: 50em;
}

main * {
	z-index: 1;
}

article {
	display: grid;
	grid-template-columns: 1fr 4fr;
  	column-gap: 10px;
}

.key {
	text-align: right;
    align-self: baseline;
}

.value {
	text-align: left;
    align-self: baseline;
}

.value div {
	display: flex;
	gap: 10px;
}

.value div * {
	align-self: baseline;
}

.tags {
	display: flex;
	gap: 10px;
	margin-right: auto;
}

#logo {
	display: inline;
}

.bg {
	position: absolute;
	z-index: 0;
}

#bg1 {
	width: 30vw;
	opacity: 0.1;
	top: 25%;
	left: 60%;
}

#bg2 {
	width: 30vw;
	opacity: 0.2;
	top: 7%;
	left: 13%;
}

#bg3 {
	width: 30vw;
	opacity: 0.1;
	top: 70%;
	left: 25%;
}

#bg4 {
	width: 30vw;
	opacity: 0.1;
	top: 150%;
	left: 8%;
}