/*marx
sakura 
water
no-class

BLOCK QUOTES 		 		MARKDOWN-SPLENDOR
SQUARE BULLET POINTS 		PICOCSS*/

/* Sakura.css v1.4.1
 * ================
 * Minimal css theme.
 * Project: https://github.com/oxalorg/sakura/
 */

@font-face {
    font-family: GentiumPlus;
    src: url(../data/fonts/GentiumPlus-Regular.ttf) format("truetype");
}

@font-face {
    font-family: GentiumPlus;
    src: url(../data/fonts/GentiumPlus-Bold.ttf) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: GentiumPlus;
    src: url(../data/fonts/GentiumPlus-Italic.ttf) format("truetype");
    font-style: italic;
}

@font-face {
    font-family: GentiumPlus;
    src: url(../data/fonts/GentiumPlus-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: Lettrine;
    src: url(../data/fonts/EileenCapsBlack.ttf) format("truetype");
}

@font-face {
    font-family: SourceCodePro;
    src: url(../data/fonts/SourceCodePro-VariableFont.ttf) format("truetype");
}

@font-face {
    font-family: SourceCodePro;
    src: url(../data/fonts/SourceCodePro-Italic-VariableFont.ttf) format("truetype");
    font-style: italic;
}


:root {
  /* Light mode */
  --light-switch-shadow: #373d4e;
  --light-switch-icon: "月";
  --light-text: #353535;
  --light-bg: #f7f7f4;
  --light-theme: #d34a97;

  /* Dark mode */
  --dark-switch-shadow: #fce477;
  --dark-switch-icon: "⽇";
  --dark-text: #c9c9c9;
  --dark-bg: #222222;
  --dark-theme: #bd93f9;

  /* Default mode */
  --switch-shadow-color: var(--light-switch-shadow);
  --switch-icon: var(--light-switch-icon);
  --switch-text: var(--light-switch-text);
  --text-color: var(--light-text);
  --bg-color: var(--light-bg);
  --theme-color: var(--light-theme);
}

/* Switched mode */
.theme-switch:checked ~ #page {
  --switch-shadow-color: var(--dark-switch-shadow);
  --switch-icon: var(--dark-switch-icon);
  --text-color: var(--dark-text);
  --bg-color: var(--dark-bg);
  --theme-color: var(--dark-theme);
}

.theme-switch {
  overflow: hidden;
  display: none; /* removes keyboard accessbility, fix in future */
}

.switch-label {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  display: flex;
}

.switch-label::after {
  content: var(--switch-icon);
  font-size: 40px;
  transition: text-shadow .2s;
}

.switch-label:hover {
  text-shadow: 0 0 20px var(--switch-shadow-color);
}

html {
  font-size: 70%;
  font-family: GentiumPlus;
}

body {
  font-size: 1.8rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

@media (max-width: 684px) {
  body {
    font-size: 1.53rem;
  }
}
@media (max-width: 382px) {
  body {
    font-size: 1.35rem;
  }
}

#page {
  color: var(--text-color);
  background-color: var(--bg-color);
}

main {
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}

h1 {
  font-size: 2.35em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

p {
  text-align: justify;
  margin-top: 0px;
  margin-bottom: 1.2rem;
}

small, sub, sup {
  font-size: 75%;
}

hr {
  border-color: #1d7484;
}

a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  text-decoration: none;
  color: var(--light-text);
}

a:hover, a:focus, a:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}

ul {
  padding-left: 2em;
  margin-top: 0px;
  margin-bottom: 1.2rem;
  list-style-type: "– ";
}

ol {
  padding-left: 2em;
  margin-top: 0px;
  margin-bottom: 1.2rem;
  list-style-type: lower-latin;
}

li {
  margin-bottom: 0.2em;
}

blockquote {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-right: 0.8em;
  border-left: 5px solid var(--light-text);
  margin-bottom: 2.5rem;
  background-color: #f1f1f1;
}

blockquote p {
  margin-bottom: 0;
}

img, video {
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

/* Pre and Code */
pre {
  background-color: #f1f1f1;
  display: block;
  padding: 1em;
  overflow-x: auto;
  margin-top: 0px;
  margin-bottom: 2.5rem;
  font-size: 0.9em;
}

code, kbd, samp {
  font-size: 0.9em;
  padding: 0 0.5em;
  background-color: #f1f1f1;
  white-space: pre-wrap;
  font-family: SourceCodePro;
}

pre > code {
  padding: 0;
  background-color: transparent;
  white-space: pre;
  font-size: 1em;
}

/* Tables */
table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse;
}

td, th {
  padding: 0.5em;
  border-bottom: 1px solid #f1f1f1;
}

/* Buttons, forms and input */
input, textarea {
  border: 1px solid #4a4a4a;
}
input:focus, textarea:focus {
  border: 1px solid #1d7484;
}

textarea {
  width: 100%;
}

.button, button, input[type=submit], input[type=reset], input[type=button] {
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: #1d7484;
  color: #f9f9f9;
  border-radius: 1px;
  border: 1px solid #1d7484;
  cursor: pointer;
  box-sizing: border-box;
}
.button[disabled], button[disabled], input[type=submit][disabled], input[type=reset][disabled], input[type=button][disabled] {
  cursor: default;
  opacity: 0.5;
}
.button:focus:enabled, .button:hover:enabled, button:focus:enabled, button:hover:enabled, input[type=submit]:focus:enabled, input[type=submit]:hover:enabled, input[type=reset]:focus:enabled, input[type=reset]:hover:enabled, input[type=button]:focus:enabled, input[type=button]:hover:enabled {
  background-color: #982c61;
  border-color: #982c61;
  color: #f9f9f9;
  outline: 0;
}

textarea, select, input {
  color: #4a4a4a;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  margin-bottom: 10px;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
textarea:focus, select:focus, input:focus {
  border: 1px solid #1d7484;
  outline: 0;
}

input[type=checkbox]:focus {
  outline: 1px dotted #1d7484;
}

label, legend, fieldset {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

img[alt$=">"] {
  float: right;
  margin-top: 10px;
  margin-left: 10px;
}

img[alt$="<"] {
  float: left;
  margin-top: 10px;
  margin-right: 10px;
}

img[alt$="><"] {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  float: none!important;
}

ruby {
  text-indent: 0;
  white-space: nowrap;
  line-height: 0.7em;
}

ruby rt {
  font-size: 0.6em;
}

.logo {
  width: 40px;
  position: fixed;
  color: gray;
  height: 40px;
  top: 20px;
  left: 20px;
}

.lettrine {
  float: left;
  font-size: 5.5rem;
  font-family: Lettrine; 
  margin-top: 13px;
  line-height: 0.7;
}